<table>
  <%- @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to 'Show', url(:post, post) %></td>
      <td><%= link_to 'Edit', url(:edit_post, post) %></td>
    </tr>
  <% end -%>
</table>
<%= link_to 'New', url(:new_post) %>